@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    font-family: Poppins;
    box-sizing: border-box;
    font-family: "Roboto", serif ;
    
}



:root {
    --primaire: #45484B ;

    --bg : #F9FCFF;
   

}

.new_hotel {
    transition: 0.5s ease-in-out;
}
.new_hotel:hover {
   background-color: rgb(17, 116, 25);
   border: none;
  
}
.new_hotel:hover p {
    color: white;
    transition: 0.5s ease-in-out;
}
.new_hotel:hover img {
    filter: invert(1);
    transition: 0.5s ease-in-out;



}

.new_hotel:active {
    animation: rebon 0.3s; /* Appliquer l'animation lors du clic */
}

@keyframes rebon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9); /* Agrandir le bouton */
    }
    100% {
        transform: scale(1); /* Revenir à la taille d'origine */
    }
}






